doctype html
html
  head
    title Is BLN In?
    link(rel='stylesheet', href='/styles/isblnin.css')
  body
    header Is BLN In?
    .mask
      #img
    h1#num maybe
  
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/isblnin.js")
    
